@font-face{
    src:url("../font/JSArirangHON.ttf");
    font-family:"arirang";
}

body{
    font-family: 'arirang';
}

.username, .password, .password-confirm{
    border:none;
}

.username:focus, .password:focus, .password-confirm{
    outline:none;
}

.username-input, .password-input, .password-confirm-input{
    width:360px; 
    height:60px; 
    border:2px solid grey; 
    border-radius:35px; 
    margin:0 auto;
    text-align:left;
    padding-top:16px;
    padding-left:20px;
}

.username-input, .password-input{
    margin-bottom:30px;
}

submit-btn{
    width:120px;
    height:40px;
    border: solid 2px black;
    border-radius: 20px;
    background-color: white;
}   
