<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/login.css">
    <link rel="stylesheet" href="../../static/css/signup.css">
    <link rel="stylesheet" href="../../static/css/create.css">


    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="main-container align-self-center" style="display: flex; flex-direction:column;">
        <div class="page-title">
            <p class=" title-container" style="font-size:40px; text-align: center; margin-top:100px">멋사 2행시 종결자</p>
        </div>
        <div class="image-input-container" style="display:flex; flex-direction: row; margin-top:150px;">
            <div class="lion-image-container col-2" style=" margin-left:8%; margin-top:50px;">
                <img src="../../static/image/aheung.svg" style="width:100%; height:auto;">
            </div>
            <div class="create-content-space col-6 align-self-center">


                <form action="{% url 'likelion_create' %}" method='POST'>
                    {% csrf_token %}
                    <div class="content-input-space" style="text-align: center;">
                        <div class="first-letter-input">
                            멋:
                            <input class="first-letter" type="text" name="likelion_first">
                        </div>
                        <div class="second-letter-input">
                            사:
                            <input class="second-letter" type="text" name="likelion_second">
                        </div>
                        <button class="submit-btn" type='submit'>시작하기</button>
                    </div>
                </form>        
            </div>
            <div class="olympic-image-container col-2" style="margin-top:129px;">
                <img src="../../static/image/어흥올림.svg" style="width:100%; height:auto;">
            </div>
        </div>
        
    </div>
</body>

</html>