<h1>
    likelion create 
    create.html
</h1> 

<form action ="{% url 'likelion_create' %}" method = 'POST'>
    {% csrf_token %}

    <p> 멋 : </p>
    <input type ='text' name = 'likelion_first'>
    <p> 사 : </p>
    <input type ='text' name = 'likelion_second'>

    <button type = 'submit'>등록하기</button> 


</form>

{% if user.is_authenticated %}
    <p>{{ user.username }}</p>
    <a href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
    <form id="logout" method="POST" action="{% url 'logout' %}">
        {% csrf_token %} <input type="hidden" />
    </form>
{% else %}
    <a href="{% url 'signup' %}">회원가입</a>
    <a href="{% url 'login' %}">로그인</a>
{% endif %}