<h1> 어흥 Read
    growl.html
</h1>

<form method="GET" action="">
    <div>
        <select name="sort" id="sort">
            <option value="recently" id="recently">최신순</option>
            <option value="like_users" id="like_users">좋아요순</option>
        </select>
        <button type="submit" value="">정렬</button>
    </div>
    </form>
    
    성민 ; main.html
    
    {% for i in growl %}
    <p> 어 : {{i.growl_first}} </p>
    <p> 흥 : {{i.growl_second}}</p>
    <p> 작성자 :  {{i.writer}} </p>
    <p>좋아요 수 : </p>
    <p>{{ i.like_users.count }}명이 좋아합니다.</p>
    <p>{{ i.created }}</p>
    
    --------------------------------
    하트 색칠하기 
    
    {% if request.user in i.like_users.all %}
    <a href="{% url 'growl_like' i.pk %}">
    하트 취소하기
    </a>
    {% else %}
    <a href="{% url 'growl_like' i.pk %}">
    하트 누르기</a>
    {% endif %}
    
    {% endfor %}
    <br>
    
    로그인 여부
    {% if user.is_authenticated %}
        <p>{{ user.username }}</p>
        <a href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
        <form id="logout" method="POST" action="{% url 'logout' %}">
            {% csrf_token %} <input type="hidden" />
        </form>
    {% else %}
        <a href="{% url 'signup' %}">회원가입</a>
        <a href="{% url 'login' %}">로그인</a>
    {% endif %}
    